{% extends 'base.html' %}

{% block title %} 
SERVICES
{% endblock title %}
{% block body %}

<div class="container-md">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Magnum</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$1 <small class="text-muted">/ piece</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Chocolate blast</li>
              <li>Great taste</li>
              <li>Healthy ever</li>
              <li>Corona free</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Click To Order</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Casata</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ piece</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>HIGHEST SELLING</li>
              <li>GIRLS FAVORITE</li>
              <li>SUPER HYGIENIC</li>
              <li>CORONA FREE</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Click To Order</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Family Pack</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ piece</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>5 diffrent icecreams</li>
              <li>Prepared by ANAND</li>
              <li>TRUMP's and MODI's fav</li>
              <li>Corona Vaccine Inbuilt</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Click To Order</button>
          </div>
        </div>
      </div>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="../../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted">© 2017-2018</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>

{% endblock body %}